body {
  display: flex;
  justify-content: center;
  /*color: #fafafa;*/
  background: #333333;
  margin-top: 4rem;
  color: green;
  line-height: 0.8rem;
  flex-direction:row;
  align-items:center
}
nav {
  background: #333333;
}
.who {
  padding: 5px;
  color: green;
}

.time-left {
  float: left;
  color: #999;
}

.mrrobot {
  color: red;
  font-size: large;
}

.coding_style {
  color: green!important;
  overflow: hidden;
  font-size: 70%;
}
.btn-outline-info {
  color: green;
  border-color: green;
}
.btn-outline-info:hover {
  color: white;
  border-color: white;
  background: green;
}

a {
  color: green;
}

.media {
  border: 1px solid #dddddd;
  box-shadow: 3px 3px 5px grey;
  border-radius: 5px;
}

.media-body {
  padding: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  color: green
}

.dropbtn:hover {
  background-color: rgb(83, 83, 83);
}
/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 5px;
  border:1px solid white;
  background: #333333;
  z-index: 1;
  left: -2rem;
}
/* Links inside the dropdown */
.optionsBtn{
  border-radius: 0;
  color: green;
}
.dropdown-content button {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
  display: block;
}

.myBtn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.container-send-cmd {
  display: flex;
  padding: 5px;
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: red;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}
