<!DOCTYPE html>
<head> <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"></head>
<html><body style="margin:0;padding:0"><img style="width:100%; height:100%;margin:0;padding:0" src="/static/hqdefault.jpg"></body></html>