{% extends "layout.html" %}
{% block content %}
<h1> H3ll0 h4ck3r ! </h1>
<p> Wh1ch 0n3 0f ur v1ct1ms d0 u w4nn4 h4ck t0d4y ? </p> 
{% for victim in victims %}
<div>
    <div class="dropdown" style="position: absolute; right:0; ">
      <button class="btn optionsBtn dropbtn" onclick="myFunction('{{ victim.id }}')">...</button>
      <div id="myDropdown{{ victim.id }}" class="dropdown-content" style="display: none;position: absolute;">
          <button class="btn optionsBtn" onclick="deleteHost('{{ victim.id }}')" style="width: 100%;">Delete</button>
          <button class="btn optionsBtn" style="width: 100%;" onclick="editHost('{{ victim.id }}')">Edit</button></div>
      </div>
    </div>
  <article class="media content-section">
		  <div class="media-body">
          <h2><a class="article-title" href="/adminpanel/view/{{ victim.id }}">{{ victim.name }}</a></h2>
          <div class="article-metadata">
            <small class="text-muted">Host is {% if status[victim.name]  %} <img src="/static/icons/online.png" style="width:10px;"> UP {% else %} <img src="/static/icons/offline.png" style="width:10px;"> DOWN {% endif %}</small>
          </div>
      </div>
		</article>
    
<div>
{% endfor %}
<form id="deleteHost" method="POST" action="" style="display: none">
    {{ form.hidden_tag() }} 
    {{ form.id.label(class="form-control-label ", style="display:none") }}
    {{ form.id(class="form-control form-control-lg ", style="display:none", id="deleteFormIdInput") }}
</form>
 

{% endblock content %}

{% block myscript %}
<script>
    setInterval(() => {location.reload()}, 10000);

    function myFunction(id) {
        console.log("options");
        if (document.getElementById("myDropdown" + id).style.display == "none") {
            document.getElementById("myDropdown" + id).style.display = "block";
        } else {
            document.getElementById("myDropdown" + id).style.display = "none";
        }
    }


    function deleteHost(id) {
        document.getElementById('deleteFormIdInput').value = id;
        document.getElementById('deleteHost').submit();
    }


    function editHost(id) {
        window.location.href = "/adminpanel/edit/" + id;
    }
</script>
{% endblock myscript %}