{% extends "layout.html" %}
{% block content %}
<div class="container container-send-cmd">
  <input type="text" id="cmd" name="cmd" minlength="1" maxlength="1000" style="width:90%" class="form-control" placeholder="Ip address" aria-label="Ip address">
  <input type="submit" id="sendButton" class="btn btn-outline-danger" onclick="sendCommand()" style="width:10%" value="Search">
</div>
<h2> Results for {{ ip }} from http://free.ipwhois.io/</h1>
<pre id="res1" class="coding_style"> 
{{ res1 }}
</pre>
<h2> Results for {{ ip }} from ipwhois python module </h2>
<pre id="res2" class="coding_style">
{{ res }}
</pre>
{% endblock content %}
{% block myscript %}
<script>
/*
$(document).ready(() => {
    $.ajax({
      url: "http://free.ipwhois.io/json/{{ ip }}",
      type: "GET"
    }).done((data) => {
      console.log(data);
      document.getElementById("resultsearch").textContent = JSON.stringify(data, undefined, 2);
    });
})
*/
function sendCommand() {
  window.location.href = "/ipwhois/" + $("#cmd").val();
}
function goodsize_canvas() {
      var blabla = document.getElementById('theContainer');
      document.getElementById("res1").style.fontSize = Math.min(blabla.offsetWidth / 45, 13)+ "px";
      document.getElementById("res2").style.fontSize = Math.min(blabla.offsetWidth / 45, 13)+ "px";
  }
  goodsize_canvas();

  window.addEventListener('resize', () => {
        goodsize_canvas();
    });
</script>
{% endblock myscript %}