<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="manifest" href="/static/manifest.webmanifest">
    <link rel="icon" href="/static/fsociety.png" type="image/png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>{{ title }}</title>
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container" style="padding-left: 0;padding-right: 0;">
                <a id="backbuttonnavbar" onclick="goBack()"><img style="height: 20px;margin:3px" src="/static/back.png"></a>
                <a class="navbar-brand mr-4" id="brand" href="/" style="color:red">{{ title }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">

                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav" style="margin-left: 4px;">

                      {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('adminpanel') }}">Panel</a>
                        <a class="nav-item nav-link" href="{{ url_for('view_uploads') }}">Uploads</a>
                        <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                      {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                      {% endif %}
                      <a class="nav-item nav-link" href="{{ url_for('ipwhois_page') }}">IpLookup</a>
                      <a class="nav-item nav-link" href="{{ url_for('view_payloads') }}">Payloads</a>
                      <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="row" style="margin-right:0; margin-left:0">
            <div id="theContainer" class="col-md-10 col-xs-13" style="padding: unset;display:block;">
                <div id="flash_message">
                    {% with messages = get_flashed_messages(with_categories=true) %} 
                      {% if messages %}  
                        {% for category, message in messages %}
                          <div class="alert alert-{{ category }}">
                              {{ message }}
                          </div>
                        {% endfor %} 
                      {% endif %} 
                    {% endwith %}
                </div>
                {% block content %}
                {% endblock %}
            </div>
            <!--
              <div class="col-md-8">
                <div class="content-section">
                  <h3>Our Sidebar</h3>
                  <p class='text-muted'>You can put any information here you'd like.
                    <ul class="list-group">
                      <li class="list-group-item list-group-item-light">Latest Posts</li>
                      <li class="list-group-item list-group-item-light">Announcements</li>
                      <li class="list-group-item list-group-item-light">Calendars</li>
                      <li class="list-group-item list-group-item-light">etc</li>
                    </ul>
                  </p>
                </div>
            </div>
		          -->
        </div>
    </main>
    <button onclick="topFunction()" id="myBtn" style="border-radius: 50%;display:none" title="Go to top">↑</button>
    <script>
        mybutton = document.getElementById("myBtn");
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

        function goBack() {
          window.history.back();
        }
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block myscript %}{% endblock %}
</body>

</html>