{% extends "layout.html" %} {% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

            <div class="form-group">
                {{ form.username.label(class="form-control-label") }} 
                {% if form.username.errors %} 
                  {{ form.username(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.username.errors %}
                        <span>{{ error }} </span> 
                      {% endfor %}
                  </div>
                {% else %} 
                  {{ form.username(class="form-control form-control-lg") }} 
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }} 
                {% if form.password.errors %} 
                  {{ form.password(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                      <span>{{ error }} </span> {% endfor %}
                  </div>
                {% else %} 
                  {{ form.password(class="form-control form-control-lg") }} 
                {% endif %}
            </div>

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info ") }}
        </div>
        <small class="text-muted ml-2">
				<a href="/kejbdksdfjb">Forgot Password ?</a>
			</small>
    </form>
</div>
{% endblock content %}